/*规则*/
#app{
  .rule-modal{
    .modal-content{
      width: 72%;
     // background: url('../imgs/img_Rules_Rulebackground.png') 0 0 no-repeat;
      background-size: 100% 100%;
      .rule-body{
        .game-tabs{
          width: 28%;
          flex: none;
        }
      }
    }
    .rule-title{
      width: 50%;
    }
    .game-box{

    }
  }
  .msg-modal{
    .modal-content{
      height: 56%;
      background: url('../imgs/img_Message_messagebackground.png') 0 0 no-repeat;
      background-size: 100% 100%;
    }
    .msg-title{
      width: 50%;
    }
    .msg-body{
      line-height: 24px;
    }
  }
  .set-modal{
    .modal-content{
     // height: 62%;
      height: auto;
      padding: 20px;
      background: url('../imgs/img_Setup_Settingbackground.png') 0 0 no-repeat;
      background-size: 100% 100%;
      .game-body{
        padding: 15px 0 0px 0;
      }
    }
    // .modal-content-system{
    //   height: 72%;
    // }
    // .modal-content-setting{
    //   height: 48%;
    // }
    // .modal-content-game{
    //   height: 56%;
    // }
    .game-title{
      text-align: center;
      .set-title{
        display: inline-block;
        width: 90%;
        .set-tabs{
          display: inline-block;
          width: 100%;
          position: relative;
          top: -16px;
          span{
            display: inline-block;
            position: absolute;
            top: 0;
            width: 50%;
          }
          span:first-child{
            left: 0;
          }
          span:last-child{
            right: 0;
          }
        }
      }
    }
  }
  .create-modal{
    .modal-content{
      width: 74%;
      height: 72%;
     // background: url('../imgs/img_Message_messagebackground.png') 0 0 no-repeat;
      background-size: 100% 100%;
    }
    .create-title{
      width: 50%;
    }
  }
  .join-modal{
    .modal-content{
      width: 68%;
      height: 75%;
      padding: 30px;
      // background: url('../imgs/img_Join_background.png') 0 0 no-repeat;
      // background-size: 100% 100%;
      .join-body{
        width: 100%;
      }
    }
    .join-title{
      width: 50%;
    }
  }
  .lm-modal{
    .lm-title{
      width: 50%;
      margin: 0 auto;
    }
  }
  .xz-modal{
    .xz-title{
      width: 50%;
      margin: 0 auto;
    }
    .modal-content{
      width: 30%;
      height: 48%;
      .game-body{
        padding: 10px 0 10px 0;
      }
    }
  }
  .modal-bg{
    height: 100%;
  }
  .share-modal{
    .modal-content{
      width: auto;
      height: 90%;
      .share-title{
        width: 38%;
        margin: 0 auto;
      }
    }
  }
  .exit-modal .modal-content{
    height: 45%;
  }
  .release-modal .modal-content{
    width: 72%;
    height: 56%;
  }
  .change-account-modal{
    .modal-content{
      z-index: 10002;
    }
    .modal-mask{
      z-index: 10001;
    }
  }
}
.ivu-slider{
  width: 90%;
  .ivu-slider-wrap{
    position: relative;
    height: 12px;
    border-radius: 6px;
    background: #FFF;
    cursor: pointer;
  }
  .ivu-slider-bar{
    height: 12px;
    border-radius: 6px;
    background: #ace93c;
    cursor: pointer;
  }
  .ivu-slider-button-wrap{
    width: 40px;
    height: 25px;
    background: url('../imgs/img_Setuphualun.png');
    background-size: 100% 100%;
    cursor: pointer;
  }
  .ivu-slider-button{
    opacity: 0;
  }
}
.vue-slider-component .vue-slider-process{
  background: #ace93c;
}
.vue-slider-component .vue-slider-dot.vue-slider-always .vue-slider-tooltip-wrap{
  display: none!important;
}
.vue-slider-component .vue-slider-dot{
  border-radius: 50%;
  background: url('../imgs/img_Setuphualun.png');
  background-size: 100% 100%;
  cursor: pointer;
}
