/*规则*/
#app .rule-modal .modal-content {
  background: url('../imgs/img_Rules_Rulebackground.png') 0 0 no-repeat;
  background-size: 100% 100%;
}
#app .rule-modal .rule-title {
  width: 50%;
}
#app .msg-modal .modal-content {
  background: url('../imgs/img_Message_messagebackground.png') 0 0 no-repeat;
  background-size: 100% 100%;
}
#app .msg-modal .msg-title {
  width: 50%;
}
#app .set-modal .modal-content {
  padding: 20px;
  background: url('../imgs/img_Setup_Settingbackground.png') 0 0 no-repeat;
  background-size: 100% 100%;
}
#app .set-modal .game-title {
  text-align: center;
}
#app .set-modal .game-title .set-title {
  display: inline-block;
  width: 90%;
}
#app .set-modal .game-title .set-title .set-tabs {
  display: inline-block;
  width: 100%;
  position: relative;
  top: -16px;
}
#app .set-modal .game-title .set-title .set-tabs span {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 50%;
}
#app .set-modal .game-title .set-title .set-tabs span:first-child {
  left: 0;
}
#app .set-modal .game-title .set-title .set-tabs span:last-child {
  right: 0;
}
#app .create-modal .modal-content {
  width: 70%;
  background: url('../imgs/img_Message_messagebackground.png') 0 0 no-repeat;
  background-size: 100% 100%;
}
#app .join-modal .modal-content {
  padding: 30px 30px 50px 30px;
  background: url('../imgs/img_Join_background.png') 0 0 no-repeat;
  background-size: 100% 100%;
}
#app .join-modal .join-title {
  width: 50%;
}
